<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Muffins de vainilla</h1>

<br>

<img src="../img/magdalenasdevainilla.jpg" alt="Magdalenas de vainilla" width="500" height="200">    

<h2>Ingredientes</h2>

<ul>
    <li>3 huevos</li>
    <li>2 tazas de harina leudante</li>
    <li>1 taza de aceite neutro</li>
    <li>1 taza de azucar</li>
    <li>Esencia de vainilla (a gusto)</li>
</ul> <br>

<h2>Preparacion</h2>

<iframe width="500" height="200" src="https://www.youtube.com/embed/7HjP0RFuy_w" title="MUFFINS DE VAINILLA re fáciles" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<ol type="I">
    <li>Batir los 3 huevos</li>
    <li>Agregar la taza de azucar</li>
    <li>Agregar la esencia de vainilla</li>
    <li>Agregar una taza de harina</li>
    <li>Agregar la taza de aceite neutro</li>
    <li>Agregar la ultima taza de harina</li>
    <li>Mezclar todo hasta integrar</li>
    <li>Refrigerar en la heladera por 15 minutos</li>
    <li>Pasado los 15 minutos separar la mezcla en moldes para muffins</li>
    <li>Hornear por 25 minutos en un horno a 150 grados hasta que esten dorados</li>
</ol>

</body>
</html>