<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Budin de limon</h1> 

<br>

<img src="../img/budindelimon.jpg" alt="budindelimon" height="200px" width="500px"> <br>
 <br> 

 <h2>Ingredientes</h2>

 <ul> 
<li>2 tazas de harina leudante</li>
<li>1 1/2 tazas de azucar</li>
<li>Rayadura de un limon</li>
<li>100ml de aceite neutro</li>
<li>150ml de leche</li>
<li>3 huevos</li>
 </ul>

 <h2>Preparacion</h2>

 <iframe width="500" height="200" src="https://www.youtube.com/embed/m9IL7-U8Zwk" title="Así deberías hacer el Budin de Limon (queda esponjoso) Paso a Paso ¡Facilísimo!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
 
 <ol type="I"> 
    <li >Mezclar el azucar junto con la rayadura de limon</li>
    <li>Agregar los huevos de a uno por vez</li>
    <li>Agregar el aceite en forma de hilo</li>
    <li>Tamizar una taza de harina y agregar a la mezcla</li>
    <li>Agregar la leche</li>
    <li>Tamizar la otra taza de harina y agregar a la mezcla</li>
    <li>Mezclar hasta que todos los ingredientes esten integrados</li>
    <li>Colocar en un molde para budin previamente aceitado</li>
    <li>Llevar a un horno previamente precalentado a cocinar durante 45 minutos a 200 grados</li>

</ol>


</body>
</html>